body {
    background: #0f172a;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: #1e293b;
    padding: 30px;
    border-radius: 12px;
}

#countdown {
    font-size: 2rem;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.date {
    border: 1px solid rgb(230, 246, 15);
    padding: 15px;
    border-radius: 100%;
    display: grid;    
}
.date-text {
    font-size: 13px;
    color: aqua;
}