/*testimonial section start*/
#testimonial-section h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.9em;
    justify-self: center;
    margin: 40px 0;
    text-transform: uppercase;   
}
.slider {
    width: 80%;
    overflow-x: auto;
    margin: 40px auto;
    border: 0px solid #333;
    border-radius: 10px;
    border: 0px solid red;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.slides {
    display: flex;
    width: 100%;
    gap: 0px;
    border: 0px solid green; 
    transition: transform 1s ease-in-out;
}

.slide-item {
   min-width: 100%;
   transition: filter 0.4s ease;
   background:rgb(135, 135, 155);
   scroll-snap-align: start;
   flex: 0 0 100%;
   display: block;
   border-radius: 20px;
}
.slide-item img {
    width: 150px;
    border-radius: 50%;
    margin: 30px auto;
    display: block;
}
.slide-item h6 {
    font-size: 1.6em;
    justify-self: center;
    color:rgb(45, 38, 138);
}
.slide-item p {
    padding: 20px;
    text-align: center;
}
.slider:hover {
    box-shadow: 0 35px 45px rgba(0,0,0,.4);
}


.slider:hover .slides img {
    filter: brightness(1.1) contrast(1.1);
   
}

        /*pagination start*/
.pagination{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.dot{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #ccc;
    transition: 0.3s;
}

.dot.active{
    background: #24129e;
    transform: scale(1.3);
}
   /*pagination end*/

.slider:hover::after {
    animation-play-state: paused;
}

.prev-btn {
    left: 70px;
}

.next-btn {
    float: right;
    right: 70px;
}

.prev-btn, .next-btn {
    position: relative;
    display: inline-block;
    background: rgb(0, 0, 0);
    border: none;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    color: rgb(93, 245, 240);
    font-size: 19px;
}

.prev-btn:hover, .next-btn:hover {
    color: red;
}
/*testimonial section end*/